/* Standard Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #283044;
  padding: 18px 0;
  border-bottom: 1px solid #78a1bb;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .logo {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

nav .logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav li {
  margin: 0 16px; /* Größere Abstände zwischen den Links */
  margin-bottom: 0;
}

nav a {
  color: #ebf5ee;
  text-decoration: none;
  font-size: 1rem; /* Größere Schriftgröße */
  font-weight: 600; /* Dickere Schrift */
  padding: 12px 20px;  /* Mehr Padding für größere Buttons */
  border-radius: 5px;
  transition: background-color 1s, color 1s;
}

nav a:hover {
  background-color: #ebf5ee;
  color: #78a1bb;
}

/* Burger Menu Styles */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger,
.burger:before,
.burger:after {
  width: 32px;
  height: 3px;
  background-color: #ebf5ee;
  transition: all 0.3s;
  position: relative;
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  left: 0;
}

.burger:before {
  top: -8px;
}

.burger:after {
  top: 8px;
}

.burger.open {
  background-color: transparent;
}

.burger.open:before {
  transform: rotate(45deg);
  top: 0;
}

.burger.open:after {
  transform: rotate(-45deg);
  top: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .logo {
    margin-right: 0;
    margin-bottom: 10px;
    height: 48px;
    width: 48px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #283044;
    padding: 18px 0;
  }

  nav ul.open {
    display: flex;
  }

  nav li {
    margin: 12px 0; /* Größerer Abstand zwischen den Links im mobilen Menü */
    width: 100%;
    text-align: center;
  }

  nav a {
    font-size: 1rem; /* Größere Schriftgröße */
    font-weight: 600; /* Dickere Schrift */
    padding: 12px 20px;  /* Mehr Padding für größere Buttons */
    width: 100%;
    display: block;
  }

  .burger-menu {
    display: block;
    position: absolute;
    top:40px;
    right: 22px;
  }
}
