.LogoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.left-content,
.center-content,
.tweet-card-container {
  flex: 1; /* Gleiche Flex-Basis für alle drei Abschnitte */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  justify-content: flex-start; /* Bild linksbündig */
}

.center-content {
  justify-content: center; /* Text zentriert */
}

.tweet-card-container {
  justify-content: flex-end; /* Tweet rechtsbündig */
}

.banner-container {
  max-width: 300px;
  width: 100%;
}

.banner-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 4px solid #283044;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.banner-image:hover {
  transform: scale(1.05);
}

.logo-text-card {
  max-width: 600px;
  padding: 20px;
  border: 3px solid #283044;
  border-radius: 15px;
  background: linear-gradient(135deg, #ebf5ee 0%, #c2d3d9 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: background 0.6s ease, box-shadow 0.6s ease;
  font-family: 'Courier New', Courier, monospace;
  text-align: center; /* Text zentrieren */
}

.logo-text-card:hover {
  background: linear-gradient(135deg, #c2d3d9 0%, #ebf5ee 100%);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.logo-title {
  font-size: 2.5rem;
  color: #283044;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.logo-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #283044;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.logo-text strong {
  font-weight: bold;
}

.tweet-card-container {
  max-width: 350px; /* Etwas größere Maximalbreite für den Tweet */
  transform: scale(0.9); /* Leicht vergrößerte Skalierung */
  transform-origin: top right; /* Skalierung bleibt von der oberen rechten Ecke aus */
  margin-left: 20px;
  margin-top: 100px; /* Abstand vom oberen Rand (Nav) erhöhen */
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .left-content,
  .center-content,
  .tweet-card-container {
    justify-content: center;
    max-width: 100%;
  }


  .tweet-card-container {
    margin-left: 0;
    margin-top: 20px;
    max-width: 100%;
    transform: scale(1); /* Normale Skalierung auf kleinen Bildschirmen */
  }

  .banner-container {
    margin-bottom: 20px;
  }

  .logo-text-card {
    text-align: center;
  }
}
