/* Allgemeine Stile */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Skills {
  padding: 70px;
  text-align: center;
}

.Skills h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #283044;
  text-decoration: underline;
  text-decoration-color: #61dafb;
  text-decoration-thickness: 3px;
}

.skills-intro {
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: #283044;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  padding: 20px;
  border: 3px solid #283044;
  border-radius: 15px;
  background: linear-gradient(135deg, #ebf5ee 0%, #c2d3d9 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills-intro:hover {
  background: linear-gradient(135deg, #c2d3d9 0%, #ebf5ee 100%);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.skills-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.skill-item {
  background: linear-gradient(135deg, #ebf5ee 0%, #c2d3d9 100%);
  border: 3px solid #283044;
  border-radius: 15px;
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin: 0;
}

.skill-item p {

  margin-top: 5px;
}

.skill-item:hover {
  background: #79bec7;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.skill-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.average-knowledge {
  background: #ebf5ee;
  border: 2px solid #283044;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 35%;
  font-weight: 700;
}

.average-knowledge h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.average-knowledge p {
  font-size: 1.125rem;
  font-weight: 400;
}

.skill-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

.skills-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.skill {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.skill-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px; /* Feste Breite für eine einheitliche Darstellung */
  box-sizing: border-box;
  font-size: 1rem;
}

.progress-bar {
  height: 12px;
  width: 100%;
  background: #c2c2c2;
  border-radius: 6px;
  margin-top: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #87CEFA, #4169E1, #003366);
  border-radius: 6px;
  width: 100%;
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .average-knowledge {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .average-knowledge h4 {
    font-size: 1rem;
  }

  .average-knowledge p {
    font-size: 0.875rem;
  }

  .skills-container {
    max-width: 100%;
  }

  .skill-item {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
  }

  .skills-row {
    gap: 15px;
  }

  .skill-icon {
    width: 30px;
    height: 30px;
  }

  .progress-bar {
    height: 10px;
  }

  .skill-content {
    flex-direction: column;
  }

  .average-knowledge {
    order: 2;
    margin-top: 20px;
  }

  .skill-details {
    order: 1;
  }
}
